{% include "header.html" %}
	</br>
	<form id="form1">
		<div class="container">    
			<div class="row">
				<div class="col-lg">
					<div class="card">
					  <div class="card-header dark-header">
						<h4>Step 1</h4>
					  </div>
					  <div class="card-body">
						<h5 class="card-title">Major and Email</h5>
						  <div class="form-group">
							<label for="formMajor">Major</label>
							<select class="form-control" id="formMajor" name="formMajor">
							  <option value="CPE2017">Computer Engineer Entering 2017</option>
							  <option value="EE2017">Electrical Engineer Entering 2017</option>
							</select>
							<label for="formEmail">Email</label>
							<input type="text" class="form-control" id="formEmail" name="formEmail">
						  </div>
					  </div>
					</div>
				</div>
				<div class="col-lg">
					<div class="card">
					  <div class="card-header dark-header">
						<h4>Step 2</h4>
					  </div>
					  <div class="card-body">
						<h5 class="card-title">Upload Transcript</h5>
						  <div class="form-group">
							<label for="formTranscript">Transcript Text File</label>
							<input type="file" class="form-control-file" id="formTranscript" name="formTranscript">
						  </div>
					  </div>
					</div>
				</div>
				<div class="col-lg">
					<div class="card">
					  <div class="card-header dark-header">
						<h4>Step 3</h4>
					  </div>
					  <div class="card-body">
						<h5 class="card-title">Select Classes</h5>
						  <div class="form-group">
							<label for="formSubmit">Select Classes Below - Extras Optional</label>
							</br>
							<button onclick= "postClasses()" type="button" class="btn btn-primary" id="formSubmit"><i id="loadingNotify" class="fa fa-spinner"></i> Submit</button>
						  </div>
					  </div>
					</div>
				</div>
			</div>
			</br>
			<div class="row">
				<div class="col-lg">
					<div class="form-row">
						<div class="form-group col-md-8">
							<label for="formHumanity1">Humanities</label>
							<input type="text" class="form-control" id="formHumanity1" name="formHumanity1">
							<label for="formHumanity2">Humanities</label>
							<input type="text" class="form-control" id="formHumanity2" name="formHumanity2">
							<label for="formHumanity3">Humanities</label>
							<input type="text" class="form-control" id="formHumanity3" name="formHumanity3">
							<label for="formHumanity4">Humanities</label>
							<input type="text" class="form-control" id="formHumanity4" name="formHumanity4">
							<label for="formGeneral1">General Elective</label>
							<input type="text" class="form-control" id="formGeneral1" name="formGeneral1">
							<label for="formGeneral2">General Elective</label>
							<input type="text" class="form-control" id="formGeneral2" name="formGeneral2">
							<label for="formExtraRec1">Extra Recitation</label>
							<input type="text" class="form-control" id="formExtraRec1" name="formExtraRec1">
						</div>
						<div class="form-group col-md-4">
							<label for="formHumanity1Term">Term</label>
							<select class="form-control" id="formHumanity1Term" name="formHumanity1Term">
								<option value="1">I</option>
								<option value="2">II</option>
								<option value="3" selected>III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7">VII</option>
								<option value="8">VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formHumanity2Term">Term</label>
							<select class="form-control" id="formHumanity2Term" name="formHumanity2Term">
								<option value="1">I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4" selected>IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7">VII</option>
								<option value="8">VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formHumanity3Term">Term</label>
							<select class="form-control" id="formHumanity3Term" name="formHumanity3Term">
								<option value="1">I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5" selected>V</option>
								<option value="6">VI</option>
								<option value="7">VII</option>
								<option value="8">VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formHumanity4Term">Term</label>
							<select class="form-control" id="formHumanity4Term" name="formHumanity4Term">
								<option value="1">I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7">VII</option>
								<option value="8" selected>VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formGeneral1Term">Term</label>
							<select class="form-control" id="formGeneral1Term" name="formGeneral1Term">
								<option value="1">I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7" selected>VII</option>
								<option value="8">VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formGeneral2Term">Term</label>
							<select class="form-control" id="formGeneral2Term" name="formGeneral2Term">
								<option value="1">I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7">VII</option>
								<option value="8" selected>VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formExtraRec1Term">Term</label>
							<select class="form-control" id="formExtraRec1Term" name="formExtraRec1Term">
								<option value="1" selected>I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7">VII</option>
								<option value="8">VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
						</div>
					</div>
				</div>
				<div class="col-lg">
					<div class="form-row">
						<div class="form-group col-md-8">
							<label for="formScience1">Science Elective</label>
							<select class="form-control" id="formScience1" name="formScience1">
								<option value="CH 116" selected>CH 116</option>
								<option value="BIO 281">BIO 281</option>
								<option value="CE 240">CE 240</option>
								<option value="EN 250">EN 250</option>
								<option value="PEP 151">PEP 151</option>
								<option value="PEP 201">PEP 201</option>
								<option value="PEP 242">PEP 242</option>
								<option value="PEP 336">PEP 336</option>
								<option value="PEP 351">PEP 351</option>
								<option value="NANO 200">NANO 200</option>
							</select>
							<label for="formScienceLab1">Science Lab</label>
							<select class="form-control" id="formScienceLab1" name="formScienceLab1">
								<option value="CH 118" selected>CH 118</option>
								<option value="BIO 282">BIO 282</option>
								<option value="PEP 201L">PEP 201</option>
							</select>
							<label for="formScience2">Science Elective</label>
							<select class="form-control" id="formScience2" name="formScience2">
								<option value="CH 116">CH 116</option>
								<option value="BIO 281">BIO 281</option>
								<option value="CE 240">CE 240</option>
								<option value="EN 250">EN 250</option>
								<option value="PEP 151" selected>PEP 151</option>
								<option value="PEP 201">PEP 201</option>
								<option value="PEP 242">PEP 242</option>
								<option value="PEP 336">PEP 336</option>
								<option value="PEP 351">PEP 351</option>
								<option value="NANO 200">NANO 200</option>
							</select>
							<label for="formTechnical1">Technical Elective</label>
							<input type="text" class="form-control" id="formTechnical1" name="formTechnical1">
							<label for="formTechnical2">Technical Elective</label>
							<input type="text" class="form-control" id="formTechnical2" name="formTechnical2">
							<label for="formTechnical3">Technical Elective</label>
							<input type="text" class="form-control" id="formTechnical3" name="formTechnical3">
							<label for="formTechnical4">Technical Elective</label>
							<input type="text" class="form-control" id="formTechnical4" name="formTechnical4">
						</div>
						<div class="form-group col-md-4">
							<label for="formScience1Term">Term</label>
							<select class="form-control" id="formScience1Term" name="formScience1Term">
								<option value="1">I</option>
								<option value="2" selected>II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7">VII</option>
								<option value="8">VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formScienceLab1Term">Term</label>
							<select class="form-control" id="formScienceLab1Term" name="formScienceLab1Term">
								<option value="1">I</option>
								<option value="2" selected>II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7">VII</option>
								<option value="8">VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formScience2Term">Term</label>
							<select class="form-control" id="formScience2Term" name="formScience2Term">
								<option value="1">I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6" selected>VI</option>
								<option value="7">VII</option>
								<option value="8">VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formTechhnical1Term">Term</label>
							<select class="form-control" id="formTechnical1Term" name="formTechnical1Term">
								<option value="1">I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7" selected>VII</option>
								<option value="8">VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formTechnical2Term">Term</label>
							<select class="form-control" id="formTechnical2Term" name="formTechnical2Term">
								<option value="1">I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7" selected>VII</option>
								<option value="8">VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formTechhnical3Term">Term</label>
							<select class="form-control" id="formTechnical3Term" name="formTechnical3Term">
								<option value="1">I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7">VII</option>
								<option value="8" selected>VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formTechnical4Term">Term</label>
							<select class="form-control" id="formTechnical4Term" name="formTechnical4Term">
								<option value="1">I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7">VII</option>
								<option value="8" selected>VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
						</div>
					</div>
				</div>
				<div class="col-lg">
					<div class="form-row">
						<div class="form-group col-md-8">
								<label for="formExtra1">Extra Class</label>
								<input type="text" class="form-control" id="formExtra1" name="formExtra1">
								<label for="formExtra2">Extra Class</label>
								<input type="text" class="form-control" id="formExtra2" name="formExtra2">
								<label for="formExtra3">Extra Class</label>
								<input type="text" class="form-control" id="formExtra3" name="formExtra3">
								<label for="formExtra4">Extra Class</label>
								<input type="text" class="form-control" id="formExtra4" name="formExtra4">
								<label for="formExtra5">Extra Class</label>
								<input type="text" class="form-control" id="formExtra5" name="formExtra5">
								<label for="formExtra6">Extra Class</label>
								<input type="text" class="form-control" id="formExtra6" name="formExtra6">
								<label for="formExtraLab1">Extra Lab</label>
								<input type="text" class="form-control" id="formExtraLab1" name="formExtraLab1">
						</div>
						<div class="form-group col-md-4">
							<label for="formExtra1Term">Term</label>
							<select class="form-control" id="formExtra1Term" name="formExtra1Term">
								<option value="1">I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7">VII</option>
								<option value="8">VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formExtra2Term">Term</label>
							<select class="form-control" id="formExtra2Term" name="formExtra2Term">
								<option value="1">I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7">VII</option>
								<option value="8">VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formExtra3Term">Term</label>
							<select class="form-control" id="formExtra3Term" name="formExtra3Term">
								<option value="1">I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7">VII</option>
								<option value="8">VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formExtra4Term">Term</label>
							<select class="form-control" id="formExtra4Term" name="formExtra4Term">
								<option value="1">I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7">VII</option>
								<option value="8">VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formExtra5Term">Term</label>
							<select class="form-control" id="formExtra5Term" name="formExtra5Term">
								<option value="1">I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7">VII</option>
								<option value="8">VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formExtra6Term">Term</label>
							<select class="form-control" id="formExtra6Term" name="formExtra6Term">
								<option value="1" selected>I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7">VII</option>
								<option value="8">VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
							<label for="formExtraLab1Term">Term</label>
							<select class="form-control" id="formExtraLab1Term" name="formExtraLab1Term">
								<option value="1" selected>I</option>
								<option value="2">II</option>
								<option value="3">III</option>
								<option value="4">IV</option>
								<option value="5">V</option>
								<option value="6">VI</option>
								<option value="7">VII</option>
								<option value="8">VIII</option>
								<!--<option value="0">Taken</option>!-->
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<footer class="footer">
		</br>
		<div class="text-center">Created by Danny Pinto, David Heale, Gina Schnecker, and Alex Walker</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script>
		$( document ).ready(function() {
			$("#home").addClass("active");
		});
		
		function postClasses() {
			$("#loadingNotify").addClass("fa-spin");
			$("#formSubmit").prop("disabled", true);
			var data = new FormData($('form')[0]);
			
			$.ajax({
				url: '/generate',
				data: data,
				type: 'POST',
				processData: false,
    			contentType: false,
				success: function(data){
					alert(data);
					$("#loadingNotify").removeClass("fa-spin");
					$("#formSubmit").prop("disabled", false);
					if (data.indexOf("pdf") >= 0) {
						alert("redirecting...")
						window.location.href="/pdf?fileName=" + data;
					}
    			},
				error: function(){
					alert("Error contacting server");
					$("#loadingNotify").removeClass("fa-spin");
					$("#formSubmit").removeClass("disabled");
    			}
			});	
		}
	</script>
 {% include "footer.html" %}
