html {
    position:relative;
    min-height: 100%;
}

body {
    margin: 0 0 90px;
	background-color: rgb(235, 235, 235) !important;
}

.footer {
	height: 70px;
	position: absolute;
	bottom: 0;
	width: 100%;
    	background-color: rgb(173, 171, 171);
    	color: rgb(90, 83, 83);
}

.card-body {
	height: 218px;
}

.card-longer {
	height: 400px;
}

.dark-header {
	background-color: rgb(182, 182, 182) !important;
}

.navbar-custom {
	background-color: rgb(180, 50, 70) !important;
}


