html {
    position:relative;
    min-height: 100%;
}

body {
    margin: 0 0 280px;
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
    	background-color: rgb(173, 171, 171);
    	color: rgb(90, 83, 83);
}


