html {
    position:relative;
    min-height: 100%;
}

body {
    margin: 0 0 123px;
}

.footer {
	height: 70px;
	position: absolute;
	bottom: 0;
	width: 100%;
    	background-color: rgb(173, 171, 171);
    	color: rgb(90, 83, 83);
}

.card-body {
	height: 175px;
}

.navbar-custom {
	background-color: rgb(194, 56, 56) !important;
}


